* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
	font-family: 'Merriweather';
}

.logo {
	background-color: #333;
	height: 60px;
	display: flex;
	align-items: center;
}
.box3{
	width:350px;
	height:50px;
	border: 2px solid #ccc;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 10px;
}
.lab1{
	font-size: 11px;
	margin-bottom:5px;
}
.input2 {
	width: 90%;
	height: 10px;
	padding: 10px;
	font-size: 16px;
	border: none;
	outline:none;
}
#sl {
	margin-left: 300px;
	height: 100%;
}

#naslov1 {
	text-align: center;
	font-size: 35px;
	margin-top: 60px;
	margin-bottom: 20px;
	font-weight: bold;
}

#opis {
	text-align: center;
	font-size: 16px;
	margin-bottom: 60px;
	color: #333;
}

.container {
	width: 1000px;
	background: #fff;
	margin: 0 auto 60px auto;
	display: flex;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
	justify-content: center;
	align-items: flex-start;
}

.levo {
	width:50%;
	padding: 40px 70px 50px 40px;
}

.naslov2 {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 20px;
}

.input {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.link {
	display: block;
	font-size: 14px;
	color: #c8102e;
	text-decoration: underline;
	cursor: pointer;
	text-align: right;
	margin-bottom: 15px;
	margin-top: -6px;
}
.link:hover{
	color: #900b20;
}


.desc {
	font-size: 15px;
	margin-bottom: 30px;
	color: #333;
}

.checkbox {
	display: flex;
	align-items: flex-start;
	gap: 5px;
	font-size: 13px;
	color: #444;
	margin-top:30px;
	accent-color: #d71920;
}

.loginG {
    display: block;
	width:100%;
	background-color: #d71920; /* Emirates red */
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	padding: 14px 0;
	margin: 25px auto -5 auto;
}
.loginG:hover{
	background-color: #b51218;
    transform: scale(1.02);
}
.loginG:active {
  background-color: #a10f14;
  transform: scale(0.98);
}
.divider {
	width: 1px;
	background: #ececec;
	height: 400px;
	margin: 0 40px;
	align-self: center;
}

.desno {
	width:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:auto;
	padding: 40px 70px 50px 40px;
}

.joinnow {
	width: 100%;
	background: #fff;
	color: #222;
	font-size: 18px;
	border: 1px solid #222;
	padding: 12px;
	border-radius: 4px;
	margin-top: 15px;
	cursor: pointer;
	transition: background 0.25s;
}

.joinnow:hover {
	background: #ececec;
}
.link2{
	display:flex;
	font-size: 14px;
	color:black;
	text-decoration: underline;
	cursor: pointer;
	text-align:right;
}
